<!DOCTYPE html>
<html>
    <head>
        <title>D級エンジニアの成り上がり</title>
        <link rel="stylesheet" href="{{ url_for("stylesheets", path="/application.css") }}">
        <script type="text/javascript" src={{ url_for("javascripts", path="/application.js") }}></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1273423681465717"
        crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>