{% extends "application.html" %}
{% block body %}

<h1>Items</h1>
<table>
    <tr>
        <th>
            <label>item.id</label>
        </th>
        <th>
            <label>item.owner_id</label>
        </th>
        <th>
            <label>item.title</label>
        </th>
        <th>
            <label>item.description</label>
        </th>
    </tr>
    {% for item in items %}
        <tr>
            <td>
                <label>{{ item.id }}</label>
            </td>
            <td>
                <label>{{ item.owner_id }}</label>
            </td>
            <td>
                <label>{{ item.title }}</label>
            </td>
            <td>
                <label>{{ item.description }}</label>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<h1>post items</h1>
<form action="" method="post" id="postItems">
    <label for="id">user_id</label><input name="id" type="number" value=1>
    <label for="title">items.title</label><input name="title" type="text" placeholder="hello">
    <label for="description">items.description</label><input name="description" type="text" placeholder="world">
    <button type="button" onclick="submitPostItems()">送信</button>
</form>

{% endblock %}