{% extends "application.html" %}
{% block body %}

<h1>User Index</h1>
<table>
    <tr>
        <th>
            <label>user.id</label>
        </th>
        <th>
            <label>user.email</label>
        </th>
        <th>
            <label>user.is_active</label>
        </th>
    </tr>
    {% for user in users %}
        <tr>
            <td>
                <label>{{ user.id }}</label>
            </td>
            <td>
                <label>{{ user.email }}</label>
            </td>
            <td>
                <label>{{ user.is_active }}</label>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<h1>Item Index</h1>
<table>
    <tr>
        <th>
            <label>item.id</label>
        </th>
        <th>
            <label>item.owner_id</label>
        </th>
        <th>
            <label>item.title</label>
        </th>
        <th>
            <label>item.description</label>
        </th>
    </tr>
    {% for user in users %}
        {% for item in user.items %}
            <tr>
                <td>
                    <label>{{ item.id }}</label>
                </td>
                <td>
                    <label>{{ item.owner_id }}</label>
                </td>
                <td>
                    <label>{{ item.title }}</label>
                </td>
                <td>
                    <label>{{ item.description }}</label>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
<br>
<h1>メソッド一覧</h1>
<table>
    <tr>
        <td>post users</td>
        <td>
            <form action="/users/" method="post" id="postUsers">
                <label for="email">users.email</label><input name="email" type="email" placeholder="reimu@example.com">
                <label for="password">users.password</label><input name="password" type="password" placeholder="reimu">
                <button type="button" onclick="submitPostUsers()">送信</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>post items</td>
        <td>
            <form action="" method="post" id="postItems">
                <label for="id">user_id</label><input name="id" type="number" value=1>
                <label for="title">items.title</label><input name="title" type="text" placeholder="hello">
                <label for="description">items.description</label><input name="description" type="text" placeholder="world">
                <button type="button" onclick="submitPostItems()">送信</button>
            </form>
        </td>
    </tr>
</table>

{% endblock %}