{% extends "application.html" %}
{% block body %}

<h1>UserID:{{ user.id }}</h1>
<table>
    <tr>
        <th>
            <label>user.id</label>
        </th>
        <th>
            <label>user.email</label>
        </th>
        <th>
            <label>user.is_active</label>
        </th>
    </tr>
    <tr>
        <td>
            {{ user.id }}
        </td>
        <td>
            <label>{{ user.email }}</label>
        </td>
        <td>
            <label>
                {{ "True" if user.is_active == 1 else "False" }}
            </label>
        </td>
</table>
<br>
<table>
    <tr>
        <th>
            <label>item.id</label>
        </th>
        <th>
            <label>item.owner_id</label>
        </th>
        <th>
            <label>item.title</label>
        </th>
        <th>
            <label>item.description</label>
        </th>
    </tr>
    {% for item in user.items %}
        <tr>
            <td>
                <label>{{ item.id }}</label>
            </td>
            <td>
                <label>{{ item.owner_id }}</label>
            </td>
            <td>
                <label>{{ item.title }}</label>
            </td>
            <td>
                {{ item.description if item.description != None else "" }}
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<h1>post items</h1>
<form action="" method="post" id="postItems">
    <input name="id" type="hidden" value={{ user.id }}>
    <label for="title">items.title</label><input name="title" type="text" placeholder="hello">
    <label for="description">items.description</label><input name="description" type="text" placeholder="world">
    <button type="button" onclick="submitPostItems()">送信</button>
</form>

{% endblock %}